@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

:root{
    --VeryPaleBlue: hsl(230, 100%, 99%);
    --DarkDesaturatedBlue: hsl(227, 35%, 25%);
}
html, body, h1, p{
    margin: 0;
}
html, body{
    padding: 0;
    font-family: "Manrope";
}
main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--VeryPaleBlue);
}
h1{

}
strong{
    font-size: 2.5em;
}
strong::before{
    content: "$";
}
button{
    background: var(--DarkDesaturatedBlue);
}